.jumbotron{
    text-align: center;
    border-bottom: solid;
    padding-bottom: 30px;
    border-width: 5px;
}

.container-1{
    text-align: center;
    align-content: center;
}

.inputs{
    justify-content: center;
}
.hour-input{
    border-left: solid;
    border-width: 2px;
    border-color: gray;
    width: 100%;
    height: 30px;
}

.mainbody{
    box-align: center;
    justify-content: center;
}

.mainBody{
    padding-top: 20px;
    text-align: center;
    align-content: center;
}

